.image2 {
  display: none;
  transition: all 100ms;
}
img{
  cursor: pointer;
}
.card:hover .image2 {
  display: block;
  animation-name: imageChange;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.card:hover .image1 {
  display: none;
}

.card-sort {
  display: none;
}

.card:hover .card-sort{
    display: block;
    animation-name: imgCard;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.card:hover {
  box-shadow: 0 3px 6px 0 rgb(51 51 51 / 30%);
}

@keyframes imageChange {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes imgCard {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
